@import "tailwindcss";

body {
  @apply font-[Roboto] bg-[linear-gradient(160deg,#050a12,#0a1a2f,#112e42,#1b2f4a)] overflow-x-hidden;
}

/* Sidebar */
.sidebar-item {
  @apply flex gap-5 px-3 py-3 rounded-md 
           text-base font-medium text-white/90
           hover:bg-white/15 hover:text-white
           transition-all cursor-pointer;
}

.sidebar-active {
  @apply bg-white/20 text-white;
}

/* Buttons */
.primary-btn {
  @apply flex px-2 sm:px-4 py-2 rounded-full font-medium text-sm transition
                   bg-white text-black hover:bg-gray-300 cursor-pointer;
}

.act-btn {
  @apply flex p-3 text-sm text-white hover:cursor-pointer hover:bg-white/20 font-medium rounded-full transition;
}

#open-search {
  @apply md:hidden;
}

#player-shuffle-btn.active,
#player-repeat-btn.active,
#player-shuffle-btn-mb.active,
#player-repeat-btn-mb.active,
#exp-shuffle-btn.active,
#exp-repeat-btn.active {
  @apply text-[#00bcd4];
}

#player-expanded {
  transform: translateY(100%);
  transition: transform 0.4s ease;
}

#player-expanded.open {
  transform: translateY(0%);
}

/* Scrollbar */
@layer utilities {
  .scrollbar::-webkit-scrollbar {
    height: 6px;
  }

  .scrollbar::-webkit-scrollbar-track {
    border-radius: 100vh;
    background: #030304;
  }

  .scrollbar::-webkit-scrollbar-thumb {
    background: gray;
    border-radius: 100vh;
    cursor: pointer;
  }
}

/* Songs */
.playing {
  @apply bg-white/10 font-semibold;
}

/* Forms */
.form-wrapper {
  @apply relative w-full max-w-[400px] h-[450px];
}

.auth-form {
  @apply absolute top-0 left-0 w-full transition duration-300;
}

.hidden-form {
  @apply opacity-0 scale-95 pointer-events-none;
}

.active-form {
  @apply opacity-100 scale-100 pointer-events-auto;
}

/* Toast */
#toast-container {
  position: fixed;
  top: 80px;
  right: 20px;
  z-index: 9999;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.toast {
  min-width: 200px;
  padding: 12px 18px;
  border-radius: 8px;
  color: #fff;
  font-size: 14px;
  opacity: 0;
  transform: translateX(120%);
  animation: toastSlideIn 0.45s ease forwards,
    toastSlideOut 0.5s ease forwards 2.7s;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}

.toast-success {
  background: #16a34a;
}
.toast-error {
  background: #dc2626;
}
.toast-warning {
  background: #f59e0b;
  color: #000;
}
.toast-info {
  background: #3b82f6;
}

@keyframes toastSlideIn {
  0% {
    opacity: 0;
    transform: translateX(120%);
  }
  60% {
    opacity: 1;
    transform: translateX(-10%);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes toastSlideOut {
  0% {
    opacity: 1;
    transform: translateX(0);
  }
  100% {
    opacity: 0;
    transform: translateX(120%);
  }
}
